* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --grey-text: #D1D4DA;
    --selected: #141D2B;
    --navy: #030613;
    --light-navy: #364150;
    --modirate-navy: #101925;
}

/* .active {
    background-color: red;
    color: blue;
} */